---
const pageTitle = "Mobile Tyre Fitting In Newark"
const description = "Welcome to Newark Tyres, your go-to solution for hassle-free mobile tyre fitting. Experience convenience like never before with our on-demand service. Keep your wheels rolling smoothly with Newark Tyres today!"
import Layout from "../layouts/MainLayout.astro"
import Hero from "../components/Hero.astro"
import Feature from "../components/Feature.astro"
import Content from "../components/Content.astro"
import Call from "../components/Call.astro"
---

<Layout pageTitle={pageTitle} description={description}>
    <Hero id={"heroHome"} headline={"Expert Tyre Service at your Doorstep"} tagline={"Newark Tyres is your local mobile tyre service based in Newark, Nottinghamshire. We provide a wide range of tyre-related services at your location. Don't spend time driving to a tyre shop; give us a call instead!"} />
	<Feature iconOne={"bi bi-calendar-fill"} iconTwo={"bi bi-clock-fill"} iconThree={"bi bi-car-front-fill"} featureOne={"Open 7 Days a Week"} featureTwo={"Same Day Fitting"} featureThree={"Cars, Vans, 4x4s & Caravans"}/>
	<Content headingOne={"Welcome to Newark Tyres"} headingTwo={"Your Local Mobile Tyre Service in Newark, Nottinghamshire"}>
        <p>Welcome to Newark Tyres, your local mobile tyre fitter in Newark & Sherwood. At Newark Tyres, we
            believe
            in providing high-quality tyre services with honesty, reliability, and professionalism. We're dedicated to ensuring that our customers receive the best possible
            service at fair and
            competitive prices.</p>
        <p>Whether you need new tyres for your car, van, or SUV, we have a wide range of options to choose from,
            and
            our mobile service makes it easy for you to get the tyres you need wherever you are. Contact us
            today to
            learn more about how we can help you get back on the road safely and smoothly.</p>
	</Content>
	<Call />
</Layout>