---
import MainLayout from "../layouts/MainLayout.astro";
const pageTitle = "Success"
const description = "Success page"
---
<MainLayout pageTitle={pageTitle} description={description} >
    <div class="py-5 container">
        <h1>Success!</h1>
        <p>Your order has been processed successfully. You should receive a confirmation email with the booking information.</p>
        <p>If you have any questions, please give us a call on 01636 33 00 55.</p>
    </div>
</MainLayout>