<section class="bg-secondary py-5">
    <div class="container">
        <h2 class="text-center">Areas We Cover</h2>
        <p class="text-center">Our mobile service is available across many areas of Newark & Sherwood, including:</p>
        <div class="row">
            <div class="col-6 col-lg-3">
                <ul>

                    <li>Collingham</li>
                    <li>Caunton</li>
                    <li>Staythorpe</li>
                    <li>Southwell</li>
                    <li>Balderton</li>
                </ul>
            </div>
            <div class="col-6 col-lg-3">
                <ul>
                    <li>Fernwood</li>
                    <li>Bleasby</li>
                    <li>Newark-on-Trent</li>
                    <li>Claypole</li>
                    <li>Eakring</li>
                </ul>
            </div>
            <div class="col-6 col-lg-3">
                <ul>
                    <li>Kneesall</li>
                    <li>North Muskham</li>
                    <li>Norton Disney</li>
                    <li>Kelham</li>
                    <li>Long Bennington</li>
                </ul>
            </div>
            <div class="col-6 col-lg-3">
                <ul>
                    <li>Lowdham</li>
                    <li>Farnsfield</li>
                    <li>Sutton-on-Trent</li>
                    <li>Kirton</li>
                    <li>Barnby in the Willows</li>
                </ul>
            </div>
        </div>
    </div>
</section>