---
const phoneNo = import.meta.env.PHONE_NO
---

<section class="bg-primary py-5 text-center">
    <h2 class="text-secondary">Call Now For a Quote</h2>
    <a href=`tel:${phoneNo}` class="btn btn-lg btn-secondary"><i class="bi bi-telephone-fill me-1"></i>{`${phoneNo.substr(0,5)} ${phoneNo.substr(5,2)} ${phoneNo.substr(7,2)} ${phoneNo.substr(9,2)}`}</a>
</section>