

<footer class="bg-dark py-5 text-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-12 col-md-6">
                <img src="./../logo-white.png" alt="Newark Tyres logo" class="w-100 mb-3">
                <p class="d-none d-md-block">Newark Tyres is a mobile tyre fitting company based in Newark, Nottinghamshire.</p>
            </div>
            <div class="offset-lg-1 col-lg-3 col-12 text-center text-md-start col-md-6">
                <h3>Services</h3>
                <hr>
                <a href="/services/mobile-tyre-fitting" class="link-light d-block no-link">Mobile Tyre Fitting</a>
                <a href="/services/mobile-puncture-repair" class="link-light d-block no-link">Mobile Puncture Repair</a>
                <a href="/services/locking-wheel-nut-removal" class="link-light d-block no-link">Locking Wheel Nut
                    Removal</a>
                <a href="/services/tpms" class="link-light d-block no-link">TPMS</a>
                <a href="/services/batteries" class="link-light d-block no-link">Batteries</a>
                <a href="/services/brakes" class="link-light d-block no-link">Brakes</a>
                <a href="/services/alloygator-wheel-protection" class="link-light d-block no-link">Alloygator Wheel
                    Protection</a>
            </div>
            <div class="col-lg-3 offset-lg-1 col-12 text-center text-lg-start mt-md-5 mt-lg-0">
                <h3>Get In Touch</h3>
                <hr>
                <a class="mb-0 no-link link-light d-block" href=`tel:01636330055`><i class="bi bi-telephone-fill me-1"></i>
                    01636 33 00 55</a>
                <a class="no-link link-light d-block" href="mailto:contact@newarktyres.co.uk"><i
                        class="bi bi-envelope-fill"></i> contact@newarktyres.co.uk</a>
                <h3 class="mt-3">Social Links</h3>
                <hr>
                <div class="d-flex justify-content-center justify-content-lg-start fs-4">
                    <a href="#"><i class="bi bi-facebook link-light"></i></a>
                    <a href="#"><i class="bi bi-google mx-3 link-light"></i></a>
                    <a href="#"><i class="bi bi-youtube link-light"></i></a>
                </div>
            </div>
        </div>
    </div>
</footer>
<div class="bg-primary text-secondary py-1">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <small>Cookie Policy</small>
            </div>
            <div class="col-3">
                <small>Terms & Conditions</small>
            </div>
            <div class="col-3">
                <small>Privacy Policy</small>
            </div>
        </div>
    </div>
</div>