
<header class="py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-5 col-8">
                <img src="/logo.png" alt="" class="w-100">
            </div>
            <div
                class="col-md-6 col-lg-7 logo-font d-none d-md-flex flex-column justify-content-center align-items-end">
                <p class="mb-0 fs-3">Call Now For a Quote</p>
                <a href=`tel:01636330055` class="btn btn-primary btn-lg fs-3 text-secondary"><i
                        class="bi bi-telephone-fill me-1"></i>01636 33 00 55</a>
            </div>
            <div class="col-4 d-md-none d-flex align-items-center justify-content-end">
                <a href=`tel:01636330055` class="btn btn-primary"><i
                        class="bi bi-telephone-fill text-secondary"></i></a>
            </div>
        </div>
    </div>
</header>