---
export interface Props {
    id: String,
    headline: String,
    tagline: String,
}

const { id, headline, tagline } = Astro.props;
---

<section class="bg-light vh-50 d-flex align-items-center text-center bg-overlay py-5" id=`${id}`>
    <div class="container">

        <h2 class="display-1 text-light">{headline}</h2>
        <p class="mb-0 fs-5 text-light">{tagline}
        </p>
        <a href="tel:01636330055" class="btn btn-primary mt-4 mb-5">Call Now</a>
        <br>
        <span class="bg-light p-3 rounded-3">Rated <i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i><i class="bi bi-star-fill"></i> on Google</span>

    </div>

</section>