<nav class="navbar navbar-expand-lg bg-dark logo-font navbar-dark">
    <div class="container">
        <button class="navbar-toggler mx-auto" type="button" data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link"
                        href="/"><i class="bi bi-house-door-fill"></i></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false">
                        Services
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="/services/mobile-tyre-fitting">Mobile Tyre Fitting</a></li>
                        </li>
                        <li><a class="dropdown-item" href="/services/locking-wheel-nut-removal">Locking Wheel Nut
                                Removal</a></li>
                        <li><a class="dropdown-item" href="/services/tpms">TPMS</a></li>
                    </ul>
                </li>
               
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a href="/contact" class="nav-link">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>