<section>
    <div class="container text-center py-5">
        <h2 class="mb-3 display-3">Services</h2>
        <div class="row g-3 mb-3">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="border shadow-sm p-5">
                    <h3 class="fs-2">Mobile Tyre Fitting</h3>
                    <p>Have your tyres fitted at home, work or roadside.</p>
                    <a href="/services/mobile-tyre-fitting" class="btn btn-primary">Find Out More</a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="border shadow-sm p-5">

                    <h3 class="fs-2">Mobile Puncture Repair</h3>
                    <p>Got a puncture? We can come to you and fix it today.</p>
                    <a href="/services/mobile-puncture-repair" class="btn btn-primary">Find Out More</a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="border shadow-sm p-5">

                    <h3 class="fs-2">TPMS</h3>
                    <p>We supply and install TPMS valves and sensors.</p>
                    <a href="/services/tpms" class="btn btn-primary">Find Out More</a>
                </div>
            </div>

            <div class="col-12 col-md-6 col-lg-4">
                <div class="border shadow-sm p-5">
                    <h3 class="fs-2">Locking Wheel Nut Removal</h3>
                    <p>Lost your locking wheel nut? We can help!</p>
                    <a href="/services/locking-wheel-nut-removal" class="btn btn-primary">Find Out More</a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="border shadow-sm p-5">

                    <h3 class="fs-2">Batteries</h3>
                    <p>Car won't start? We can change your battery at home.</p>
                    <a href="/services/batteries" class="btn btn-primary">Find Out More</a>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="border shadow-sm p-5">

                    <h3 class="fs-2">Brakes</h3>
                    <p>Change your brakes the easy way with our mobile service.</p>
                    <a href="/services/brakes" class="btn btn-primary">Find Out More</a>
                </div>
            </div>
        </div>
    </div>
</section>